<%- include('partials/header') %>

<h1>Bem-vindo à Home</h1>
<p>Projeto simples usando Node.js, Express, EJS e o padrão MVC.</p>
<p>Use o menu lá em cima para acessar as páginas de Sobre, Contato e Produtos.</p>

<%- include('partials/footer') %>

